/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #2c003e, #000000); /* Purple-black gradient */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 15px 20px;
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

.search-container {
    position: relative;
    width: 250px;
}

#search-bar {
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

#suggestions-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #444;
    border: 1px solid #333;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    top: 38px;
    width: 100%;
    z-index: 1001;
    display: none;
}

#suggestions-list li {
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

#suggestions-list li:hover {
    background: #555;
}

#home-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px; /* Adjusted for fixed header */
}

.info-section {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

#homepage-image {
    width: 70%; /* Adjust width as needed */
    max-width: 600px; /* Set a maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 20px;
    border-radius: 10px;
}

.info-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 18px;
    margin-bottom: 10px;
}

.song-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.song-section img {
    width: 300px;   /* Fixed width */
    height: 300px;  /* Fixed height */
    object-fit: cover; /* Maintain aspect ratio, cover the area */
    border-radius: 10px; /* Rounded corners */
    margin-bottom: 20px; /* Spacing below the image */
}


.song-details {
    text-align: center;
    margin-top: 20px;
}

.song-details h3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.song-details p {
    font-size: 18px;
    margin-bottom: 5px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: auto;
    position: relative;
    bottom: 0;
}
